* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 200rem;
    transition: all 1s ease-out;
}

.fix {
    position: fixed;
}

.banner {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    ;
}

.banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner #bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff url(../img/heart.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 450px;
    mix-blend-mode: screen;
}

.contenido1 {
    min-height: 100vh;
    min-width: 100%;
}

.contenido {
    min-height: 100vh;
    min-width: 100%;
}